
/* CSS مخصص */
    body {
      padding-top: 70px; /* للتعويض عن ارتفاع شريط التنقل */
      direction: rtl;
      line-height: 200%;
      font-size: 18px;
    }
    .navbar-brand img{
      width: 70px;
      height: 70px;
    }
    @media (min-width: 970px) {
      /* Add your CSS rules here */
      .collapse{
        position: relative;
        right: 400px;
      }
      .nav-item{
        padding: 0px 20px;
      }
    }
    .card {
      min-width: 300px;
      max-height: 800px;
      margin: 20px auto;
    }
    
    .card:hover{
      box-shadow: 10px 5px 10px #DDD;
    }
    .carousel-item img {
      width: 100%;
      height: auto;
    }
    .content{
      max-width: 250px;
      position: fixed;
      top: 300px;
      right: 0px;
      z-index: 1000;
    }
    .content p{
      padding: 20px;
      background-color: blue;
      border-radius: 30px 5px 5px 30px;
      box-shadow: 0 5px 10px #0000ffb4, 0 -5px 10px #0000ffb4, -7px 0 10px #0000ffb4;
    }
    .txt{
      font-size: 20px;
      color: wheat;
      display: none;

    }
    .icn{
      font-size: 23px;
      color: wheat;
      padding-right: 5px;
    }
    .content p:hover .txt{
      display: block;
      float: right;
    }
    .community{
      max-width: 250px;
      position: fixed;
      top: 400px;
      right: 0px;
      z-index: 1000;
    }
    .community p{
      padding: 20px;
      background-color: green;
      border-radius: 30px 5px 5px 30px;
      box-shadow: 0 5px 10px #0080009b, 0 -5px 10px #0080009b, -7px 0 10px #0080009b;
    }
    .community p:hover .txt{
      display: block;
      float: right;
    }
    .contantus{
      background-color: #9e9b9b;
      font-size: 18px;
      border-radius: 20px;
      color: white;

    }
    .contantus p{
      padding-top: 5px;
  
    }
    .contantus a{
      font-size: 30px;
      text-decoration: none;
      color: white;
  
    }
    
    .comunication{
      background-color: #0dc33e;
      font-size: 18px;
      border-radius: 20px;
      color: white;

    }
    .comunication p{
      padding-top: 5px;
  
    }
    .comunication a{
     font-size: 30px;
      text-decoration: none;
      color: white;
  
    }

/* footer */
.conect i{
  color: #00ffff;
  font-size: 20px;
  /* padding-top: 30px; */
  padding: 30px 0px 0px 0px;
}
.conect a{
  text-decoration: none;
  font-size: 20px;

}
.conect a:hover{
  color: #00ffff;
}
.social i{
  font-size: 20px;
  /* padding-top: 30px; */
  padding: 30px 0px 0px 0px;
}
.social a{
  text-decoration: none;
  font-size: 20px;

}
.social a:hover{
  color: #00ffff;
}
